<body class="mainContainer" [dir]="textDir">
  <mat-card id="maincard">
    <mat-card-content class="p-0 m-0">
      <section>
        <div class="d-sm-flex justify-content-between align-items-center m-5">
          <div>
            <h1>
              {{ 'category.maintitle' | translation : language }}
            </h1>
          </div>
          <div>
            <button
              [routerLink]="['/dash/addcategory/']"
              type="button"
              class="createBtn btn"
            >
              <h2 class="">
                {{ 'Categorycreate.maintitle' | translation : language }}
              </h2>
            </button>
          </div>
        </div>
        <div class="d-flex justifiy-center align-items-center">
          <table class="table table-hover mx-5">
            <thead>
              <tr>
                <th scope="col" class="th1">#</th>
                <!-- <th scope="col" class="th1">
                  <h2>{{ "product.id" | translation : language }}</h2>
                </th> -->
                <th scope="col" class="th1">
                  <h2>{{ 'Categorytable.name' | translation : language }}</h2>
                </th>
                <th scope="col" class="th1">
                  <h2>
                    {{ 'Categorytable.arabicname' | translation : language }}
                  </h2>
                </th>
                <!-- <th scope="col" class="th1">
                  <h2>{{ 'Categorytable.desc' | translation : language }}</h2>
                </th>
                <th scope="col" class="th1">
                  <h2>
                    {{ 'Categorytable.arabicdes' | translation : language }}
                  </h2>
                </th> -->
                <th scope="col" class="th1">
                  <h2>{{ 'product.actions' | translation : language }}</h2>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let category of categories; let i = index">
                <td scope="row">{{ i }}</td>
                <!-- <td>{{ category.id }}</td> -->
                <td>{{ category.name }}</td>
                <td>{{ category.arabicName }}</td>
                <!-- <td>{{ category.describtion }}</td>
                <td>{{ category.arabicDescribtion }}</td> -->
                <td>
                  <div>
                    <a
                      (click)="openUpdateDialog('1500ms', '15ms', category.id)"
                      class="me-3"
                    >
                      <i class="fa fa-edit" saria-hidden="true"></i>
                    </a>

                    <a
                      (click)="openDialog('1500ms', '15ms', category.id)"
                      class="me-3"
                    >
                      <i
                        class="fa fa-trash text-danger"
                        saria-hidden="true"
                      ></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="loading-container">
          <mat-progress-spinner
            *ngIf="isLoading"
            mode="indeterminate"
          ></mat-progress-spinner>
        </div>
      </section>
    </mat-card-content>
  </mat-card>
</body>
