main {
  font-family: "Times New Roman", Times, serif;
  padding-top: 10%;
  width: 100%;
}
.dialog {
  max-height: 600px; /* Set a maximum height for the section */
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.dialog::-webkit-scrollbar {
  width: 10px;
}
.dialog::-webkit-scrollbar-thumb {
  background-color: var(--main-light-two) !important;
  border-radius: 10px;
}

.dialog::-webkit-scrollbar-track {
  background-color: #ffffff;
}
input,
textarea {
  font-size: 1em;
}

h2 {
  color: var(--main-font-color);
}
.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: var(--main-font-color);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.form-control {
  width: 75%;
  height: 3em;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.select-container {
  position: relative;
  width: 100%;
}

.select-container select {
  width: calc(100% - 5px); /* Adjust as needed based on your design */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
}
label {
  margin-top: 10px;
  color: var(--main-two);
}
.select-container .arrow {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
}

.btn {
  background-color: var(--main-two);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  background-color: var(--main-light-color);
}
